




div#gutter {
    margin-top: 17rem;
    margin-left: 17rem;
    margin-right: 17rem;
    /* overflow-x: hidden; */
}

.container {
    overflow-x: hidden;
}

h1#title {
    margin-left: 1rem;
}

#year{
    margin-left: 1rem;

}

.left {
    float: left;
    width: 40%;
    text-align: center;

}

.middle {
    float: left;
    width: 30%;
    text-align: center;
}
.right {
    float: left;
    width: 30%;
    text-align: center;
}

span#rating {font-weight: bolder;font-size: x-large;}
span#imr {
    font-size: larger;
    font-weight: bolder;
    color: darkgray;
}

#rvo{
    font-size: larger;
    font-weight: bolder;
    color: darkgray;
}
#vote{
    font-weight: bolder;font-size: x-large;
}

#imid{
    font-size: larger;
    font-weight: bolder;
    color: darkgray;
}

#id{
    font-weight: bolder;font-size: x-large;

}

.info {font-weight: bolder;color: gray;font-size: large;}


#desp{
    border-bottom: 1px solid white;
}